# PowerShell temporary files
*.ps1.temp
*.ps1.bak
*.ps1~*

# Windows thumbnail cache
Thumbs.db
ehthumbs.db

# Logs
*.log
*.tmp
*.xlsx
*.xlsm
*.xls
*.bas
/VBA

# Excel backup files
*.xlk
*.bak
~$*.xlsx
~$*.xlsm
~$*.xls

# Notepad++ session backups
*.nppbak
*.backup